################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/MSI Info/obj
/.vs/MSI Info
/MSI Info/bin/Release/netcoreapp3.1
